

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.drag-n-drop {
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.dnd-table-group {
    background-color: #4b5260;
    border-radius: 6px;
    padding: .5rem;
    display: grid;
    width: 100%;
    gap: 50px;
}

.dnd-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.dnd-item:not(:last-of-type) {
    margin-bottom: .5rem;

}

.dnd-item * {
    margin: 0;
    font-size: 1.2rem;

}

.group-title {
    text-align: left;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
